[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.8.3"
aiosignal = "==1.2.0"
openai = "*"
chromadb = "*"
langchain = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
